.App {
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(26, 108, 7);
  color: white;
  margin-top: 10px;
}
